{% set title = 'Change User Password' %}
{% extends "admin/layout.twig" %}
{% block content %}
<p>No explanation needed.</p>
<div class="row">
  <div class="col-sm-6">
    <form action="" method="POST" role="form">
      <div class="form-group">
        <label for="">New Password</label>
        {{ form.password('password').attr('class="form-control"') | raw }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}